<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Danh sách Sinh viên của lớp {{class.name}}</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="/classes/show">Danh sách lớp</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="/students/show">Danh sách sinh viên</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            </ul>
        </div>

        <div class="row">
            {{#each students}}
            <div class="col-md-4">
                <div class="card card-secondary">
                    <div class="card-body skew-shadow">
                        <h2>
                            <a class="hover-name" href="/students/{{this.slug}}">{{this.name}}</a>
                        </h2>
                        <p style="color: rgb(228, 188, 12);" class="op-8">MSSV: {{this.studentID}}</p>
                        <div class="pull-right">
                            <h3 class="fw-bold op-8">{{this.email}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
