<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Danh sách học phần</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="/majors/show">Danh sách ngành</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="/majors/showCoures">Danh sách học phần</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="card-title">Danh sách học phần</div>
                        <div class="ms-auto">
                            <a href="/courses/create" type="button" class="btn btn-success">Thêm học phần</a>
                            <a href="#" type="button" class="btn btn-warning">Import</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Học phần của chuyên ngành
                        </div>
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Mã học phần</th>
                                    <th scope="col">Tên học phần</th>
                                    <th scope="col">Số tín chỉ</th>
                                    <th scope="col">Giảng viên</th>
                                    <th scope="col">Lớp học phần</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each courses}}
                                <tr>
                                    <th scope="row">{{sum @index 1}}</th>
                                    <td>{{ this.code }}</td>
                                    <td>{{ this.name }}</td>
                                    <td>{{ this.credit }}</td>
                                    <td>{{ this.teacher }}</td>
                                    <td>
                                        <a href="/majors/showClass/{{this._id}}" type="button" class="btn btn-info">
                                            Truy cập
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>